body {
    background-color: #49BEAA;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.back-plate {
    fill: #4D4861;
    stroke: #605770;
    stroke-width: 9;
}
.minute-marker {
    fill: none;
    stroke: #9E7682;
    stroke-width: 7;
    stroke-dasharray: 0.2 0.8;
    stroke-dashoffset: 0.1; 
}
.hour-marker {
    fill: none;
    stroke: #EDCB96;
    stroke-width: 7;
    stroke-dasharray: 0.2 4.8;
    stroke-dashoffset: 0.1;
}
.hand {
    stroke: #F7C59F;
    stroke-width: 2;
    stroke-linecap: round;
}
.hand--thick {
    stroke-width: 7;
}
.hand--second {
    stroke: #49BEAA;
}
.center {
    fill: #4D4861;
    stroke-width: 2;
    stroke: #49BEAA;
}
.text {
    fill:#EDCB96;
    font-family: Arial, sans-serif;
    text-anchor: middle;
    cursor: pointer;
    user-select: none;
}